marshmallow
bcrypt>=3.2.0
cryptography>=41.0.0
Flask>=2.3.0
Flask-Bcrypt>=1.0.1
Flask-WTF>=1.1.1
geopy>=2.3.0
idna>=3.4
itsdangerous>=2.1.2
Jinja2>=3.1.2
MarkupSafe>=2.1.3
requests>=2.31.0
six>=1.16.0
SQLAlchemy>=2.0.0
WTForms>=3.0.0
pytz
flask-restful>=0.3.10
flask-marshmallow>=1.1.0
werkzeug>=2.3.0
